.filterButton {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 4px;
}
.filterTitle {
  color: gray;
  font-weight: bolder;
}
.applyButton {
  background-color: transparent;
  border: none;
  outline: none;
  color: #e63946;
  font-weight: bold;
}
.optionContainer {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.checkbox {
  color: #e63946;
  margin: 0;
}
.selectedOptions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
.selectedOption {
  background-color: #e63946;
  border-radius: 4px;
  color: #fff;
  padding: 2px 8px;
  font-size: small;
  position: relative;
}
.removeOption {
  background-color: #000;
  color: #fff;
  outline: none;
  border: none;
  position: absolute;
  right: -5px;
  top: -5px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  font-size: 10px;
  font-weight: bold;
  line-height: 10px;
}