@import url('https://fonts.googleapis.com/css?family=Nunito:regular,medium,semi-bold,bold');

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fafafa;
  font-family: 'Nunito';
}

body {
  overflow-y: auto;
}

div#root {
  padding-top: 25px;
  padding-bottom: 0;
}

p {
  margin: 0px;
}